.lock-pick {
  .slots,
  .open-button {
    display: inline-block;
    vertical-align: middle;
  }

  .slots {
    .slot {
      position: relative;

      display: inline-block;
      margin: 5px;

      width: 20px;
      height: 20px;

      border: 1px solid #000;
      border-radius: 50%;

      cursor: pointer;

      &.is-selected {
        &::after {
          position: absolute;
          display: block;
          content: '';

          width: 10px;
          height: 10px;
          top: 4px;
          left: 4px;

          background: #000;
          border-radius: 50%;
        }
      }
    }
  }
}

.is-disabled {
  .lock-pick {
    .slots {
      .slot {
        cursor: default;
      }
    }
  }
}
