.log {
  position: relative;

  ul {
    height: 300px;
    overflow-y: scroll;

    list-style: none;

    li {
      margin-bottom: 10px;
    }
  }

  &::after {
    content: '';
    display: block;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;

    background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
  }
}
